:root {
    /* Principaux arrières plans */
    --main-background:#FEFCFB;
    --secondary-background:#FFF7ED;
    /* Arrière-plans de composants */
    --normal-states:#FFEFD6;
    --hover-states:#FFDFB5;
    --selected-states:#FFD19A;
    /* Bordures */
    --subtle-borders:#FFC182;
    --interactive-borders:#F5AE73;
    --focus-ring:#EC9455;
    /* Textes */
    --low-contrast-text:#CC4E00;
    --hight-contrast-text:#582D1D;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:focus-visible {
  outline: 2px solid var(--focus-ring);
  outline-offset: 2px;
  border-radius: 10px;
}



/* Fluidité de la page au lancement */

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--main-background);
    opacity: 0;
    transform: translateY(40px) scale(0.98);
    animation: ultraSmooth 1.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    overflow-x: hidden;
}

@keyframes ultraSmooth {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}



/* Menu de navigation */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--secondary-background);
    border-bottom: 2px solid var(--subtle-borders);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    backdrop-filter: blur(12px);

    animation: navSmoothDrop 1.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

#header.small {
    height: 60px;
    backdrop-filter: blur(8px);
    background: rgba(255, 247, 237, 1);
}

#header.small .logo a {
    font-size: 23px;
}

#header.small .logo img {
    width: 60px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo a {
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    color: var(--hight-contrast-text);
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-right: 50px;
}

.nav a {
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    transition: color 0.3s ease;
    color: var(--hight-contrast-text);
}

.nav a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;

  background: var(--hover-states);

  transform: translateY(-150%);
  transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);

  z-index: -1;
}

.nav a:hover::before {
  transform: translateY(-70%);
}

.nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--hover-states);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav a:hover::after {
  transform: scaleX(1);
}

.cv {
    padding: 10px;
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
    border-color: var(--subtle-borders);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(255, 193, 130, 0.9);
    background-color: var(--normal-states);
    cursor: pointer;
    color: var(--hight-contrast-text);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cv:hover {
    background-color: var(--hover-states);
    border-color: var(--interactive-borders);
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(255, 193, 130, 0.5)
}

.theme {
    
    width: auto;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--hight-contrast-text);
    transition: transform 0.3s ease;
}

.theme:hover {
    transform: scale(1.15);
}

.theme:active {
    opacity: 0.7;
    transform: scale(0.97);
    transition: opacity 0.1s ease;
}

@keyframes navSmoothDrop {
  0% {
    transform: translateY(-120%) scale(0.98);
    opacity: 0;
  }

  60% {
    transform: translateY(10px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* Section Hero */
.hero {
    display: flex;
    align-items: center;
    padding-bottom: 200px;
}

.herosub {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 150px;
}

.hero h1 {
    font-family: "Adamina", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;
    color: var(--hight-contrast-text);
    margin-bottom: 20px;
    opacity: 0;
    animation: h1smooth 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-delay: 0.5s;
}

@keyframes h1smooth {
  0% {
    transform: translateX(-500%) scale(0.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero p {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 42px;
    color: var(--hight-contrast-text);
    margin-bottom: 20px;
    opacity: 0;
    animation: heropsmooth 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-delay: 0.5s;
    position: relative;
}

@keyframes heropsmooth {
  0% {
    transform: translateX(500%) scale(0.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero span {
    color: var(--low-contrast-text);
    font-weight: 300
}

.socials {
    display: flex;
    gap: 20px;
}

.socialup {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    display: flex;
    gap: 7px;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 15px;
    color: var(--hight-contrast-text);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: var(--normal-states);
    border-color: var(--subtle-borders);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.socialup:hover {
    background-color: var(--hover-states);
    border-color: var(--interactive-borders);
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.socialupwrapper {
    opacity: 0;
    animation: socialupsmooth 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-delay: 0.5s;
}

@keyframes socialupsmooth {
  0% {
    transform: translateY(1000%) scale(0.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.socialdown {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    display: flex;
    gap: 7px;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 15px;
    color: var(--hight-contrast-text);
    box-shadow: 0 -5px 15px rgba(0,0,0,0.3);
    background-color: var(--normal-states);
    border-color: var(--subtle-borders);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.socialdownwrapper {
    opacity: 0;
    animation: socialdownsmooth 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-delay: 0.5s;
}

@keyframes socialdownsmooth {
  0% {
    transform: translateY(-1000%) scale(0.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.socialdown:hover {
    background-color: var(--hover-states);
    border-color: var(--interactive-borders);
    transform: translateY(6px);
    box-shadow: 0 -12px 25px rgba(0,0,0,0.15);
}

/* 3D Spline */
.robot-3d {
  position: fixed;
  top: -3%;
  right: -9.5%;
  width: 45vw;
  height: 130vh;
  z-index: 0;
}

.robot-3d spline-viewer {
  width: 100%;
  height: 100%;
}

spline-viewer div a {
    display: none !important;
}



/* Skills */
.skills {
    border-top: 2px solid var(--subtle-borders);
    box-shadow: 0 -5px 15px rgba(0,0,0,0.3);
    background: linear-gradient(#FFF7ED, #FEFCFB);
    padding-bottom: 100px;
    border-bottom: 2px solid var(--subtle-borders);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.skills h2 {
    font-family: "Adamina", serif;
    font-weight: 600;
    font-style: normal;
    color: var(--hight-contrast-text);
    font-size: 50px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.skills p {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: var(--low-contrast-text);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 20px;
}

.skill {
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    background:linear-gradient(135deg,
     #FFEFD6 50%,
     #FFDFB5 30%, 
     #FFD19A);
     padding-bottom: 180px;
}

.skill p {
    padding-bottom: 25px;
    color: var(--hight-contrast-text);
    font-size: 25px;
    cursor: default;
}

.skill li {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--low-contrast-text);
    font-size: 18px;
    cursor: default;
    transition: transform 0.3s ease;
}

.skill li:hover {
    transform: translateX(10px);
}

.skill ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.design {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.3s ease;
}

.design:hover {
    transform: translateY(-6px);
}

.front-end {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.3s ease;
}

.front-end:hover {
    transform: translateY(-6px);
}

.back-end {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.3s ease;
}

.back-end:hover {
    transform: translateY(-6px);
}

.other {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.3s ease;
}

.other:hover {
    transform: translateY(-6px);
}



/* Projets */
.projets {
    padding-bottom: 300px;
    background-color: var(--main-background)
}

.projets h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-family: "Adamina", serif;
    font-weight: 600;
    font-style: normal;
    color: var(--hight-contrast-text);
    font-size: 50px;
    margin-bottom: 70px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: var(--secondary-background);
    width: 300px;
    border-radius: 12px;
    border: 2px solid var(--subtle-borders);
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card p {
    display: flex;
    justify-content: center;
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--hight-contrast-text);
}

.card button {
  margin: 15px;
  padding: 10px;
  font-family: "Adamina", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--normal-states);
  border-color: var(--subtle-borders);
  color: var(--hight-contrast-text);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card button:hover {
    transform: translateY(-6px);
    background-color: var(--hover-states);
    border-color: var(--interactive-borders);
}



/* Contact */
.contacts {
    border-top: 2px solid var(--subtle-borders);
    box-shadow: 0 -5px 15px rgba(0,0,0,0.3);
    background: linear-gradient(#FFF7ED, #FEFCFB);
    padding-bottom: 100px;
}

.contacts h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-family: "Adamina", serif;
    font-weight: 600;
    font-style: normal;
    color: var(--hight-contrast-text);
    font-size: 50px;
    margin-bottom: 70px;
}

.contacts p {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: var(--low-contrast-text);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
    padding-bottom: 80px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.box label {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    display: flex;
    align-items: first baseline;
    gap: 7px;
    font-weight: 400;
    font-size: 18px;
    color: var(--low-contrast-text);
}

label[for="message"] {
    margin-right: 330px;
}

.box i {
    font-size: 30px;
    color: var(--hight-contrast-text);
}

.box span {
    color: var(--hight-contrast-text);
}

.boxLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boxRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
}

input[type="text"] {
    display: block;
    padding: 20px;
    height: auto;
    padding-right: 250px;
    font-size: 1rem;
    border-radius: 4px;
    background-color: var(--main-background);
    border: 1px solid var(--subtle-borders);
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    color: var(--low-contrast-text);
    line-height: 1.5;
}

input.form-control:focus {
    background-color: var(--secondary-background);
    border-color: var(--interactive-borders);
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

input[type="email"] {
    display: block;
    padding: 20px;
    height: auto;
    padding-right: 250px;
    font-size: 1rem;
    border-radius: 4px;
    background-color: var(--main-background);
    border: 1px solid var(--subtle-borders);
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    color: var(--low-contrast-text);
    line-height: 1.5;
}

input::placeholder {
    color : var(--low-contrast-text);
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    opacity: 0.5;
}

textarea {
    display: block;
    padding: 20px;
    height: auto;
    padding-right: 250px;
    font-size: 1rem;
    border-radius: 4px;
    background-color: var(--main-background);
    border: 1px solid var(--subtle-borders);
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    color: var(--low-contrast-text);
    line-height: 1.5;
}

textarea.form-control:focus {
    background-color: var(--secondary-background);
    border-color: var(--subtle-borders);
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

textarea::placeholder {
    color : var(--low-contrast-text);
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    opacity: 0.5;
}

input[type="submit"] {
    margin: 10px 0;
    padding: 6px 15px;
    width: 35%;
    font-family: "Adamina", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    background-color: var(--normal-states);
    border-color: var(--subtle-borders);
    color: var(--hight-contrast-text);
    border-radius: 30px;
    cursor: pointer;
}



/* Footer */
.footer {
    background: var(--normal-states);
    padding-bottom: 15px;
    border-top: 2px solid var(--subtle-borders);
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    color: var(--low-contrast-text);
    padding: 30px;
}